<?xml version="1.0" encoding="utf-8" ?>
<configuration>
        <configSections>
                <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
                        <section name="CEU_TLTD_Scheduling_System.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
                </sectionGroup>
        </configSections>
        <connectionStrings>
                <add name="CEU_TLTD_Scheduling_System.My.MySettings.ceutltdschedulerConnectionString"
                        connectionString="server=localhost;user id=root;password=root;database=ceutltdscheduler"
                        providerName="MySql.Data.MySqlClient" />
        </connectionStrings>
        <startup>
            
        </startup>
        <userSettings>
                <CEU_TLTD_Scheduling_System.My.MySettings>
                        <setting name="WindowTheme" serializeAs="String">
                                <value />
                        </setting>
                </CEU_TLTD_Scheduling_System.My.MySettings>
        </userSettings>
</configuration>