<?xml version="1.0" encoding="utf-8" ?>
<configuration>
        <configSections>
                <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
                        <section name="CEU_TLTD_Scheduling_System.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
                </sectionGroup>
        </configSections>
        <connectionStrings />
        <startup>
            
        </startup>
        <userSettings>
                <CEU_TLTD_Scheduling_System.My.MySettings>
                    <setting name="WindowTheme" serializeAs="String">
                        <value>VisualStudio2012Dark</value>
                    </setting>
                    <setting name="cons_server" serializeAs="String">
                        <value />
                    </setting>
                    <setting name="cons_port" serializeAs="String">
                        <value />
                    </setting>
                    <setting name="cons_database" serializeAs="String">
                        <value />
                    </setting>
                    <setting name="cons_username" serializeAs="String">
                        <value />
                    </setting>
                    <setting name="cons_password" serializeAs="String">
                        <value />
                    </setting>
                    <setting name="refreshDelay" serializeAs="String">
                        <value>2000</value>
                    </setting>
                    <setting name="searchDelay" serializeAs="String">
                        <value>700</value>
                    </setting>
                    <setting name="gsmIsOn" serializeAs="String">
                        <value>False</value>
                    </setting>
                </CEU_TLTD_Scheduling_System.My.MySettings>
        </userSettings>
</configuration>