<?xml version="1.0" encoding="utf-8" ?>
<configuration>
        <configSections>
        </configSections>
        <connectionStrings>
                <add name="CEU_TLTD_Scheduling_System.My.MySettings.ceutltdschedulerConnectionString"
                        connectionString="server=localhost;user id=root;password=root;database=ceutltdscheduler"
                        providerName="MySql.Data.MySqlClient" />
        </connectionStrings>
        <startup>
            
        </startup>
</configuration>